body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#title{
    /* background-color:#635985 ; */
    background-color: #060047;
    color:white;
    /* padding:5% 5% 10% 5%; */
    padding: 1% 5% 5% 5%;
}
.title-img{
    width:90%;
    margin-left:75px;

}
.title-content{
    margin:5% 0 0 0 ;
    text-align: left;
}
.navbar-brand{
    /* font-size: 1.5rem; */
    color:black
}
.navbar-nav{
    color: black
    /* font-size: 1.5rem; */
}
.navbar-elements{
    color: black
}
.navbar-i{
    font-size: 2rem;
    font-weight: bold;
}
.title-heading{
    font-weight: bolder;
    font-size: 4.5rem;
    margin-bottom: 0;
}
.title-subheading{
    font-size: 2rem;
    font-weight: bolder;
    /* position: relative;
    left: 14px; */
}
.title-para{
    font-size: 2rem;
    font-weight: lighter;
    line-height:1.5;
}
.title-button{
    border-radius: 30px;
    width: 30%;
    height: 50px;
}
.title-i{
    font-size: 10rem;
    display: inline-block;
}









#about{
    padding: 7% 10%;
}
#services{
    padding: 7% 10%;
}
#footer{
    padding: 7% 10%;
}